.App {
  text-align: center;
}


.main-bg {
  height: 750px;
  background-image: url("../public/img/imagecopy9.png");
  background-repeat: no-repeat;
}

img {
  height: 400px;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 1s; 
}

/* 크기 조절 애니메이션 
.start {
  transform: scale(0);
}

.end {
  transform: scale(1);
  transition: all;
}
 */

 