.App {
  text-align: center;
}


.main-bg {
  height: 750px;
  background-image: url("../public/img/imagecopy9.png");
  background-repeat: no-repeat;
}

img {
  height: 400px;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 1s; 
  /*
  opacity  .. 불투명? 뭐지 
  transition 은 투명도를말함.,.?
  */
}